*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Responsive navigation bar */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #5d4954; 
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(228, 228, 228);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    background-color: rgb(228, 228, 228);
    margin: 5px;
    width: 25px;
    height: 3px;
    transition: all 0.3s ease;
}

/* Tablet mood */

@media screen and(max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

/* Phone mood */

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #5d4954; 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Animation of phone mode menu */

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*logos*/
.img-logo{
	width:8%;
	position:relative;
	bottom:-12%;
	left:1%;
	opacity:50%
}

/*Index*/
.format{
	background-color: #AD99A4; 
}
/* Conoce más */

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;

}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-backgound-size: cover;
    background-size: cover;
    background-position: center center;
}

/*Contactanos*/
.contacts {
	background-color: #AD99A4;
	height:63%;
	width:30%;
	position:relative;
	left:35%;
	bottom: -5%;
	text-align:justify;
}

.contact {
	/*background-color: #b5b;*/
	height:20%;
	width:90%;
	position:relative;
	left:5%;
	bottom: -4.7%;
	text-align:justify;
	
}

.data-contact {
	width:57%;
	/*background-color: #ff0;*/
	position:relative;
	left:35%;
	bottom: 80%;
	text-align:justify;
	font-family:Candara;
	font-size:125%;
}

.img-contact {
	position:relative;
	bottom: 2%;
	left:6%;
    width:27.5%;
    border-radius:150px;
}

.line{
	color:#000;
	position:relative;
	bottom: 45%;
}
